//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:_password=QXdZV1N1SGxQN0ht
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:username=user_1120600651823311
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:email=ispeco@supermap.com
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:always-auth=false
registry=https://registry-node.aliyun.com/org/1120600651823311/registry/supermap/